body { 
    padding-top: 70px; 
    font-family: 'Open Sans', sans-serif;
}
.main h1 {
    font-weight: bold;
    font-size: 3.5em;
}
.main form {
    padding: 15px;
    border: 1px solid #c1c1c1;
    border-radius: 5%;
}
.form-style {
   margin-top: 3%;
}
.form-control > input {
   border-style: none;
}
/*---------------forma de uso-------*/
.text-align {
    text-align: center;
}
.style-footer {
    background-color: #F8F8F8;
    border: 1px solid #E7E7E7;
    height: 70px;
}
.margin {
    margin-top: 2%;
}